html, body {
    /* Mes couleurs */
    --colorSidenav: #171b1f;
    --colorPoliceBlanche: #ffff;
    --colorActive: #48a8af;
    --colorGris: #e0e0e0;
    --colorFluent: rgba(0, 0, 0, 0.8);
    
    --colorHover: #171b1f;
    --colorNotif: #f3a273;
    --colorNotifImg: #e66131;
}
    main {
        /* Décalage de 300px pour la sidebar */
        padding-left: 300px;
    }
    .row {
        margin-bottom: 0px;
    }
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        /* Navbar contient le burger mais est invisible */
        height: 0;
    }
    .sidenav {
        background: var(--colorSidenav);
    }
        .sidenav img {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 170px;
        }
        .sidenav li a {
            color: var(--colorPoliceBlanche);
        }
        .sidenav li a:hover {
            background: var(--colorHover);
        }
        .sidenav li a.active {
            background: var(--colorActive);
        }
        .sidenav-trigger {
            color: var(--colorPoliceBlanche);
            text-shadow: grey 0px 2px 3px;
        }
    header h1 {
        color: var(--colorPoliceBlanche) !important;
        text-shadow: grey 1px 0px 8px;
    }
    header h2 {
        color: var(--colorPoliceBlanche);
        text-shadow: grey 1px 0px 8px;
    }
    .titre {
        background: var(--colorActive);
        padding: 5px;
    }
    a span{
        background: var(--colorFluent); 
        width: 100%;
    }
    .card .card-image .card-title {
        padding: 5px;
    }
    p i {
        font-size: 30px;
    }
    .parallax-container {
        min-height: 338px;
        height: auto;
        color: var(--colorPoliceBlanche);
    }
        .parallax-container .section {
            width: 100%;
        }
    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
        }
    }
    .carousel .indicators .indicator-item {
        margin: 24px 8px;
        height: 15px;
        width: 15px;
        box-shadow: 0px 3px 6px rgb(26, 26, 26);
    }
    #realisations {
        background: var(--colorGris);
        padding-top: 55px;
        padding-bottom: 55px;
    }
    #competences {
        background: var(--colorSidenav);
        padding-top: 35px;
        padding-bottom: 35px;
    }
    /*
    #competences::after{
        clip-path: polygon(100% 100%, 0% 50%, 0% 100%); 
        background: white; 
        height: 150px; 
        width: 100%;
    }
    */
    #parcours {
        background: var(--colorGris);
        padding-top: 25px;
        padding-bottom: 25px;
    }


    /* Template parallax =========================================================================================== */
    p {
        line-height: 2rem;
    }
    
    @media only screen and (max-width : 992px) {
        .parallax-container .section {
        position: absolute;
        top: 40%;
        }
        #index-banner .section {
        top: 10%;
        }
    }
    
    @media only screen and (max-width : 600px) {
        #index-banner .section {
        top: 0;
        }
    }
    
    .icon-block {
        padding: 0 15px;
    }
    .icon-block .material-icons {
        font-size: inherit;
    }
    
    footer.page-footer {
        margin: 0;
    }
  
    /* Timeline ========================================================================================== */
    #parcours .card-reveal {
        background: var(--colorSidenav);
        
    }
    .timeline {
        position: relative;
    }
    .timeline .timeline-event {
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .timeline .timeline-event .timeline-content {
        position: relative;
        width: calc(50% - 50px);
    }
    .timeline .timeline-event::before {
        display: block;
        content: "";
        width: 2px;
        height: calc(50% - 30px);
        position: absolute;
        background: #d2d2d2;
        left: calc(50% - 1px);
        top: 0;
    }
    .timeline .timeline-event::after {
        display: block;
        content: "";
        width: 2px;
        height: calc(50% - 30px);
        position: absolute;
        background: #d2d2d2;
        left: calc(50% - 1px);
        top: calc(50% + 30px);
    }
    .timeline .timeline-event:first-child::before {
        display: none;
    }
    .timeline .timeline-event:last-child::after {
        display: none;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: calc(50% + 50px);
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 0;
    }
    .timeline .timeline-badge {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background: #d2d2d2;
        top: calc(50% - 20px);
        right: calc(50% - 20px);
        border-radius: 50%;
        text-align: center;
        cursor: default;
    }
    .timeline .timeline-badge i {
        /*font-size: 25px;*/
        line-height: 40px;
    }
    @media (max-width: 600px) {
        .timeline .timeline-event .timeline-content {
        width: calc(100% - 70px);
        }
        .timeline .timeline-event::before {
        left: 19px;
        }
        .timeline .timeline-event::after {
        left: 19px;
        }
        .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: 70px;
        }
        .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 70px;
        }
        .timeline .timeline-badge {
        left: 0;
        }
    }